#personal
{
    position: absolute;
    left: 35%;
}

#h11
{
    position: absolute;
    width: 500px;
    left: -10%;
   font-family: Georgia, 'Times New Roman', Times, serif;
top: 3200px;
}




#newU
{
    position: absolute;
    left: 35%;
}

#return
{

    position: absolute;
    left: -600px;
    width: 50px;
    height: 51px;
    border: solid black;
    margin: 4px 4px;
}

@keyframes closeBar
{
    from{left: 170px;}
    to{left: -900px;}
}


#but
{
    position: absolute;
    left: 10px;
    width: 50px;
    height: 51px;
    border: solid black;
}

#bar
{
    position: absolute;
    left: -900px;
    top: 0%;
    width: 150px;
    height: 500px;
    background: grey;
}

@keyframes closeBar2
{
    from{left: 150px;}
    to{left: -900px;}
}


.nav-but
{
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 10px 5px;
    background: white;
}

#wel
{
    position: absolute;
    top: 70px;
    left: 25px;
}

#pro
{
    position: absolute;
    top: 140px;
    left: 25px;
}

#anon
{
    position: absolute;
    top: 140px;
    left: 25px;
}


a, u
{
    color: grey;
    text-decoration: none;
    
}

#bar1
{
    width: 50x;
    height: 5px;
    background: grey;
}


#bar2
{
    width: 50x;
    height: 5px;
    background: grey;
}

#bar3
{
    width: 50x;
    height: 5px;
    background: grey;
}

#bar4
{
    width: 50x;
    height: 5px;
    background: grey;
}


#bar5
{
    width: 50x;
    height: 5px;
    background: grey;
}

#bar6
{
    width: 50x;
    height: 5px;
    background: grey;
}





#newU
{
    position: absolute;
    left: 35%;
}

#exsU
{
    position: absolute;
    left: 55%;
}


#note
{
    position:absolute;
    top: 3300px
}

#im
{
    position: absolute;
    left: 45%;
    top: 3100px;
}


.button
{
    background-color: #82b0f5;
    position: absolute;
    text-align: center;
    border: none;
    color: white;
    padding: 5px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 1200px;
}
